/* ===== TABLA GRILLA ===== */
.tableWrapper {
  background: white;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  scrollbar-width: thin;
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: max-content;
  font-size: 14px;
}

.table th {
  text-align: left;
  background: #f9fafb;
  padding: 12px;
  font-weight: 600;
  color: #513739;
}

.table td {
  padding: 12px;
  border-top: 1px solid #eee;
}

.tableRow:hover {
  background: #f3f4f6;
}

.tableEmpty {
  text-align: center;
  padding: 20px;
  color: #9ca3af;
}

.selected {
  background: #dbeafe;
}

.selected:hover {
  background: #bfdbfe;
}